
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f2e0;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}

.container {
  
  text-align: center;
  max-width: 800px;
  margin: 25px 2px 2px 2px;
  background-color: #d97d22;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



@font-face {
  font-family: Zapy;
  src: url("./../assets/fonte/ZapfChanceryFont.otf");

}
@font-face {
  font-family: daylove;
  src: url("./../assets/fonte/Daylove_DEMO.ttf");

}
@font-face {
  font-family: QuickSand;
  src: url("./../assets/fonte/Quicksand_Book.otf");
}
@font-face {
  font-family: adelia;
  src: url("./../assets/fonte/adelia.ttf");
}
@font-face {
  font-family: adeliao;
  src: url("./../assets/fonte/adelia.otf");
}
@font-face {
  font-family: carnivale;
  src: url("./../assets/fonte/culturescarnival-rough.otf");
}

@font-face {
  font-family: carnivaler;
  src: url("./../assets/fonte/culturescarnival.otf");
}


img {
  width: 200px;
  height: auto;
  border-radius: 4%;
  margin-bottom: 20px;
  box-shadow: 6px 8px 9px 4px rgb(11 12 1 / 77%);
}

h1 {
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 10px;
  color: #f9f2e0;
  font-family: carnivaler;
  text-shadow:  5px -8px 5px #311900
}

h2 {
  font-family: adelia;
  text-align: center;
  text-shadow:  -1px 2px 2px #311900
}
.poema {
  padding: 20px 20px 20px 20px ;
  font-family: QuickSand;
  font-size: 18px;
  line-height: 1.6;
  color: #f3e7c7;
  text-align: justify;
  text-shadow:  -1px 2px 2px #311900;
  
}
.amarte {
  
  text-shadow:  -1px 2px 2px #311900;
  padding: 20px 20px 20px 20px ;
  font-family: QuickSand;
  font-size: 18px;
  line-height: 1.6;
  color: #f3e7c7;
  text-align: center;
}
span{
  color: #caff00 ;
}

audio {
  width: 100%;
}
