:root {
  --corda-verde: #008000;
  --corda-amarelo: #FFFF00;
  --corda-azul: #0000FF;
  --corda-laranja: #FFA500;
  --corda-roxo: #800080;
  --corda-marrom: #A52A2A;
  --corda-vermelho: #FF0000;
  --corda-branco: #FFFFFF;
} 