.flex {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.altura {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}

.child {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 9px 11px 25px -3px #6439db, 0em 2px 4em #04fc88;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .container {
        position: fixed;
        bottom: 50%;
        transform: translateY(50%);
        left: 0;
        right: 0;
        padding: 1rem;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .child {
        width: 150px;
        height: 150px;
    }
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .baseMosaico {
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 85%;
    
    
 }
.flex10-child-1 {
    background-image: url("./../assets/menu_01.webp");
    filter: grayscale(100%);
    
    transition: all 0.5s;
}
.flex10-child-1:hover {
    filter: grayscale(0%);
    background-image: url("./../assets/menu_01.webp");
    transition: all 0.5s;
    opacity: 100%;
}


.flex10-child-2 {
    background-image: url("./../assets/menu_02.webp");
    filter: grayscale(100%);
    transition: all 0.5s;
}
.flex10-child-2:hover {
    background-image: url("./../assets/menu_02.webp");
    filter: grayscale(0%);
    opacity: 100%;

}




