.flex {
   display: flex;
   justify-content: center;
   
}

.altura{
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: aqua;

}
.container {
    
    flex-wrap: wrap;
    align-items: center;
    
    margin-bottom: 2em;
    position: relative;
    max-width: 150vw;
  
    background-color: #b53cda;
    border-radius: 2px;
    
}
.child {
    background-color: blueviolet;
    width: 22vw;
    height: 25vh;
    justify-content: center; 
    margin: 4px 5px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor:pointer;
    max-width: 22vw;
    
}

 body, html{
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .baseMosaico {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
 }
.flex10-child-1 {
    background-image: url("./../assets/magno.png");
  
}
.flex10-child-1:hover {
    
    background-image: url("./../assets/fundoTecido.png");
}

.flex10-child-2 {
    background-image: url("./../assets/meire.png");
  
}
.flex10-child-2:hover {
   background-image: url("./../assets/QRCodes/meireQR.png");
   background-position: center;
   background-size: contain;
}


.flex10-child-3 {

}
.flex10-child-4 {

}
.flex10-child-5 {

}